<main class="col-12" role="main">
    <div class="row">
        <div class="user-form">
            <div class="title">
                <h1>{{title}}</h1>
            </div>
            <form class="sign-up-form">
            <fieldset>
                <legend>Sign Up</legend>

                <label for="firstname">First name</label>
                <input type="text" id="firstName" placeholder="Ada">

                <label for="lastname">Last name</label>
                <input type="text" id="lastName" placeholder="Lovelace">

                <label for="username">Username</label>
                <input type="text" id="userName" placeholder="username">

                <label for="password">Password (1 or more characters)</label>
                <input type="password" id="password" placeholder="password">

                <button class="button">Join now</button>
                <p class="agreement">By clicking Join now, you agreen to NodE-commerce's <span class="rules">User Agreement</span>, <span class="rules">Privacy Policy</span>, and <span class="rules">Cookie Policy</span></p>
            </fieldset>
        </form>
        </div>     
    </div>
</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/index-user-gateway.js"></script>

    
