<head>
    <link rel="stylesheet" href="/css/login.css">
</head>
<main class="col-12" role="main">
    <div class="row">
        <form class="js-authentication-form authentication-form">
            <fieldset>
                <legend>Log In</legend>
                <label for="username">Username</label>
                <input type="text" id="username" name="username">

                <label for="password">Password</label>
                <input type="password" id="password" name="password">

                <button>Log in</button>
            </fieldset>
        </form>
    </div>
</main>
