<nav class="top-navbar">
    <div class="row">
        <ul class="top-nav-left">
            <li class="logo"><a href="/">Invit</a></li>
        </ul>
        <ul class="top-nav-right">
            <li><a href="/index">Sign Up</a></li>
            <span class="or">or</span>
            <li><a href="/login">Log In</a></li>
        </ul>
    </div>
</nav>
<main class="col-12" role="main">
    <div class="row">
        <div class="user-form">
            <form class="js-authentication-form authentication-form">
                <fieldset>
                    <legend>Log In</legend>
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" placeholder="e.g. Demo" required>

                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="e.g. Demo" required>

                    <button>Log in</button>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="demo-desc">
                <p>For Demo purposes you can type:</p>
                <p>Username: Demo</p>
                <p>Password: Demo</p>
            </div>
        </div>
    </div>
</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/index-user-gateway.js"></script>
