<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/seller.css">
    <link rel="stylesheet" href="/css/float-grid.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <title>Seller</title>
</head>
<body>
    <nav>
        <ul>
            <a href=""><li>Browse</li></a>
            <a href=""><li>Log In</li></a>
            <a href=""><li>Sign Up</li></a>
            <a href=""><li>Seller Dashboard</li></a>
        </ul>
    </nav>
    <main role="main">
        <div class="row">
            <div class="col-6">
                <form class="update-product-form" id="updataProductForm">
                    <fieldset>
                        <legend>Edit Product</legend>
                        <label>
                            <span>Product Name</span>
                            <input id="productName" type="text">
                        </label>
                        <label>
                            <span>Product Description</span>
                            <input id="productName" type="text"> 
                        </label>
                        <label>
                            <span>Product Price</span>
                            <input id="productName" type="text"> 
                        </label>
                        <label>
                            <span>Product Image</span>
                            <input id="productName" type="text">
                        </label>
                    </fieldset>
                </form>
            </div>
            <div class="col-6"></div>
        </div>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/seller.js"></script>
</body>
</html> 