<header role="banner">
    <div class="row">
        <div class="col-12">
            <p class="shop-title"><span class="js-user-name"></span>'s Online Store</p>
            <p class="profile-username">@<span class="js-user-username"></span></p>
        </div>
    </div>
</header>

<!-- Main Content -->
<main class="col-12" role="main">
    <!-- Search Bar-->
    <div class="row">
        <div class="col-12">
            <div class="search-bar content-box">
                <label class="search-label" for="search">Search</label><br>
                <input id="search" type="text" placeholder="Search here...">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <p class="content-box">Total Product Value: $<span class="total-value"></span></p>
        </div>
        <div class="col-6">
            <p class="content-box">Product Quantity By ID: <span class="qty"></span></p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 product-table">                
            <table class="js-product-table" id="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Product Name</th>
                        <th>Product Description</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Action</th>
                    </tr>
                </thead>
                {{!-- js table body --}}
                <tbody class="js-product-table-body" id="product-table-body" aria-live="assertive"></tbody>
            </table>
        </div>
    </div>
    <!-- The Add Modal Btn -->
    <div class="row">
        <div class="col-12">
            <button id="add-modal-btn" class="add-modal-btn"><span>Add</span></button>
        </div>  
    </div>
    <div class="row">
        {{!-- Add Modal --}}
        <div class="col-12">
            <div id="add-product-modal" class="add-product-modal" aria-live="assertive" hidden>
                <!-- Add Modal Content -->
                <div class="modal-content">
                    <span class="close-btn">&times;</span>
                    <form class="js-add-product-form" id="addProductForm">
                        <fieldset>
                            <legend>Adding New Product</legend>
                            <label for="productName">Product Name</label>
                            <input class="input" id="productName" type="text" name="productName" required>
                            
                            <label for="productDesc"><span>Product Description</span></label>    
                            <input class="input" id="productDesc" type="text" name="productDesc" required>
                            
                            <label for="productPrice"><span>Price</span></label>    
                            <input class="input" id="productPrice" type="text" name="productPrice" required>

                            <label for="productQty"><span>Quantity</span></label>    
                            <input class="input" id="productQty" type="text" name="productQty" required>
                            
                            <button class="submit-btn" type="submit">Submit</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    
    
        <!-- Update Modal -->
        <div id="update-product-modal" class="update-product-modal" aria-live="assertive" hidden>
            <!-- Update Modal Content -->
            <div class="modal-content">
                <span class="close-btn">&times;</span>
                <form class="js-update-product-form update-product-form" id="updateProductForm">
                    <fieldset>
                        <legend class="update-legend">Updating Product ID: <span class="product-id"></span></legend>
                        <label>
                            <span>Product Name</span>
                            <input class="input" id="update-product-name" type="text" name="update-product-name" required>
                        </label>    
                        <label>
                            <span>Product Description</span>
                            <input class="input" id="update-product-desc" type="text" name="update-product-desc" required>
                        </label>
                        <label>
                            <span>Price</span>
                            <input class="input" id="update-product-price" type="text" name="update-product-price" required>
                        </label>
                        <label>
                            <span>Quantity</span>
                            <input class="input" id="update-product-qty" type="text" name="product-qty" required>
                        </label>    
                        <button class="submit-btn" type="submit">Submit</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/user.js"></script>



