* {
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
}

/* Nav Bar */

.top-navbar{
    position: fixed;
    width: 100%;
    padding: 1px;
    height: 50px;
    max-height: 50px;
    top: 0;
    right: 0;
    background-color: rgba(34, 47, 62, 0.2);
}

.or {
    color: rgba(34, 47, 62, 0.5);
}
.top-nav {
    list-style: none;
    float: right;
    padding: 0px 10px;
    font-weight: bold;
}

.top-nav li{
    display: inline-block;
    padding: 0px 10px;
}

.top-nav a{
    color: white;
    display: block;
    text-decoration: none;
}

.top-nav a:hover{
    color: lightgrey;
    display: block;
    text-decoration: none;

}
/* End Nav Bar */


