body {
    background-image: linear-gradient(to bottom right, #40E859, #53FF9D, rgb(218, 212, 212));
    background-repeat: no-repeat;
    font-family: 'Muli', sans-serif;
}

main {
    padding-bottom: 25%;
}

h1 {
    color: rgb(68, 0, 238, 0.6);
    font-size: 50px;
}

h2 {
    color: rgb(68, 0, 238, 0.6);
    font-size: 40px;
}

h3 {
    color: rgb(68, 0, 238, 0.6);
    font-size: 28px;
}

.desc-content {
    margin-top: 150px;
}

.desc {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.title {
    text-align: center;
    margin-top: 5%;
}

.user-form {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15%;
}
/* Form */
.sign-up-form{
    width: 100%;
    margin-top: 10px;
    border-radius: 25px;
    background-color: #fff; 
    padding: 15px 15px;
    color: rgb(68, 0, 238, 0.8);
    box-shadow: 0px 0px 25px 1px;
}

legend {
    text-align: center;
    font-size: 24px;
    padding-top: 10px;
}

fieldset input {
    width: 100%;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    color: lightgray;
    height: 45px;
    padding: 5px;
}

fieldset {
    border: none;
}
.agreement {
    text-align: center;
    font-size: 14px;
}
.rules {
    font-weight: bold;
}

.button {
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    background-color: rgb(68, 0, 238, 0.8);
    color: white;
    font-weight: bold;
}

.button:hover {
    background-color: rgb(68, 0, 238, 0.5);
    box-shadow: 0px 0px 5px 2px;
    cursor: pointer;
}

.button:active {
    background-color: rgb(68, 0, 238, 0.8);
    box-shadow: none;
}

/* End Form */

img {
    width: 100%;
}

.sub-desc {
    color: white;
    font-size: 20px;
    font-weight: bold;
}
