body {
    background-image: linear-gradient(to bottom right, #40E859, #53FF9D, rgb(218, 212, 212));
    background-repeat: no-repeat;
    font-family: 'Muli', sans-serif;
}

h1 {
    color:#6F9999; 
}

.title {
    text-align: center;
    margin-top: 15%;
}

.user-form {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}
/* Form */
.sign-up-form{
    width: 100%;
    margin-top: 10px;
    border-radius: 25px;
    background-color: #fff; 
    padding: 15px 15px;
    color: rgb(68, 0, 238, 0.6);
    box-shadow: 0px 0px 25px 1px;
}

legend {
    text-align: center;
    font-size: 24px;
    padding-top: 10px;
}

fieldset input {
    width: 100%;
    height: 35px;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    color: lightgray;
    height: 45px;
}

fieldset {
    border: none;
}
.agreement {
    text-align: center;
    font-size: 14px;
}
.rules {
    font-weight: bold;
}

.button {
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    background-color:#40E859; 
    color: white;
    font-weight: bold;
}

.button:hover {
    background-color:#53FF9D; 
    box-shadow: 2px 2px 4px;
    cursor: pointer;
}

.button:active {
    background-color:#40E859; 
}

/* End Form */