.border {
    border: black 2px solid;
}

body {
    background-color: rgba(238, 238, 238, 0.884);
}

nav {
    width: 100%;
    background-color: rgb(68, 151, 47);
    padding: 5px;
}

ul {
    list-style: none;

}

nav li{
    display: inline-block;
    margin-left: 10px;
    color: white;
}

.main-content {
    min-height: 50%;
}

.profile{

}

.product-list{

}

.profile-picture {
    width: 50%;
    margin-left: 25%;
   
}

.card{
    padding: 2px 30px;
    max-height: 200px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td{
    text-align: center;
    border: 1px black solid;
    padding: 8px;
}

tr:nth-child(even){
    background-color: #dddddd;
}

.product-table{
    margin-top: 25px;
    padding: 10px;
}

.add-btn {
    padding: 5px;
    background-color: lightgreen;
    color: black;
    border: 0;
}

.add-btn:hover, .add-btn:focus {
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    left: -80px;
    top: 90px;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.modal-content{
    background-color: white;
    margin: 20% auto;
    padding: 20px;
    width: 65%;
    box-shadow: 5px 5px 5px;
}

.closeBtn {
    float: right;
    font-size: 24px;
    color: grey;
}

.closeBtn:hover, .closeBtn:focus{
    cursor: pointer;
    color: black;
    text-decoration: none;
}

fieldset > label > input, .submit-btn {
    width: 95%;
    height: 25px;
    padding: 5px;
    margin: 5px;
}

fieldset {
    border: none;
}

legend{
    text-align: center;
}

