body {
    background-color: white;
    font-family: 'Rubik', sans-serif;
}

/* Nav */
.top-navbar{
    position: fixed;
    width: 100%;
    padding: 1px;
    background-color: rgba(211, 211, 211, 0.3);
    height: 50px;
    max-height: 50px;

}

.top-nav{
    list-style: none;
    float: right;
    padding: 0px 10px;
}

.top-nav li{
    display: inline-block;
    padding: 0px 10px;
}

.top-nav a{
    color: black;
    display: block;
    text-decoration: none;
}