html {
    height: 150%;
    background-image: linear-gradient(to bottom right, rgb(12, 232, 102, 0.1), rgb(0, 255, 157, 0.8));
    background-repeat: no-repeat;
}

header {
    color:rgba(34, 47, 62,0.8);
    margin-top: 5em;
}

main {
    /* padding-bottom: 25%; */
}

.top-navbar {
    background-color: rgba(34, 47, 62, 1.0);
    width: 100%;
}

/* Main */

.shop-title {
    font-size: 28px;
    font-weight: bold;
    color: rgba(34, 47, 62, 1.0);
    margin: 0px;
}

.profile-username {
    margin-top: 0px;
    font-size: 18px;
    font-style: italic;
}

/* Content Box */
.content-box{
    padding: 10px;
    background-color: white;
    box-shadow: 0px 0px 5px 1px #F18818;
    transition: transform .1s;
}

.content-box:hover {
    transform: scale(1.015);
}

/* Search Bar */
.search-label{
    font-size: 20px;
    font-weight: bold;
}

#search{
    margin-top: 5px;
    margin-right: 8px;
    width: 45%;
    height: 35px;
    font-size: 16px;
    border: none;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid rgba(34, 47, 62,0.3);
}

.search-btn{
    height: 40px;
    border: 0;
    outline: 0;
    font-size: 16px;
    background-color:rgba(33, 165, 177,0.8); 
    border-radius: 5px;
    color: white;
    padding: 10px;
    font-weight: bold;
    
}

.search-btn:hover {
    background-color: lightgrey;
    box-shadow: 2px 2px 2px #ddd;
    cursor: pointer;
}

.search-btn:active {
    background-color: rgba(211, 211, 211, 0.3);
    box-shadow: none;
}
/* End Search Bar */

/* Add/Update Modal */
.add-modal-btn {
    padding: 12px;
    background-color: rgb(30, 167, 30, 0.5);
    color: white;;
    border: 0;
    border-radius: 10px;
    font-size: 16px;
    transition: transform 0.1;
}

.add-modal-btn:hover, .add-modal-btn:focus {
    cursor: pointer;
    transform: scale(1.015);
    color: lightgrey;
    background-color: rgb(30, 167, 30, 0.8);
}

.add-modal-btn:active{
    background-color: rgb(30, 167, 30, 0.5);
    transform: none;
}

.add-product-modal{
    display: none;
    max-width: 500px;
}

.update-product-modal{
    display: none;
    max-width: 500px;
    margin-left: 20px;
}

.modal-content{
    background-color: white;
    padding: 25px;
    width: 100%;
    box-shadow: 4px 4px 20px 1px;
    border-radius: 15px;
    margin-top:5px;
}

.close-btn {
    float: right;
    font-size: 24px;
    color: grey;
    transition: transform 0.1;
}

.close-btn:hover, .close-btn:focus{
    cursor: pointer;
    color: black;
    text-decoration: none;
    transform: scale(1.015);
}

.close-btn:active {
    color: grey;
    transform: none;
}

.add-product-form, .update-product-form{
    font-size: 16px;
    margin: auto;
}

.input {
    width: 100%;
    height: 35px;
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 8px;
}

fieldset {
    border: none;
}

legend{
    text-align: center;
    margin: 5px;
    font-size: 20px
}

.submit-btn {
    width: 100%;
    font-size: 18px;
    height: 35px;
    padding: 5px;
    border: 0;
    background-color:rgb(248, 172, 90, 0.6); 
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    transition: transform 0.1;
}

.submit-btn:hover {
    transform: scale(1.015);
}

.submit-btn:active {
    transform: none;
}


/* End Add/Update Modal */

/* Product Table List */

table {
    width: 100%;
    border-collapse: collapse;
}

th{
    background-color:rgb(248, 172, 90); 
    color: white;
    font-weight: bold;
    font-size: 18px;
}

th, td{
    text-align: center;
    border-bottom: 1px solid rgb(248, 172, 90);
    padding: 10px;
    width: 16.67%;
}

tr{
    background-color: white;
    padding: 15px;
    transition: transform 0.1;
}

tr:hover {
    transform: scale(1.05);

}


.product-table{
    margin-top: 25px;
    padding: 10px;
    overflow-x: auto;
}

.edit-btn, .delete-btn{
    border: none;
    font-size: 16px;
    color: white;
    border-radius: 5px;
    padding: 5px;
}

.edit-btn {
    background-color:rgba(33, 165, 177,0.4); 
    font-weight: bold;
    transition: transform 0.1;
}

.delete-btn{
    background-color: rgba(228, 20, 20, 0.4);
    font-weight: bold;
    transition: transform 0.1;
}

.edit-btn:hover {
    background-color:rgba(33, 165, 177,0.6);
    box-shadow: 1px 1px 2px 1px; 
    cursor: pointer;
    transform: scale(1.015);
}

.edit-btn:active {
    background-color:rgba(33, 165, 177,0.4); 
    transform: none;
}

.delete-btn:hover {
    background-color: rgba(228, 20, 20, 0.6);
    box-shadow: 1px 1px 2px 1px; 
    cursor: pointer;
    transform: scale(1.015);
}

.delete-btn:active {
    background-color: rgba(228, 20, 20, 0.4);
    transform: none;
}




